@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

:root {
	--sz: 5px;
	--eqz: 0;
    --color: black;
    --brushSize: 3;
}

.appContainer {
	margin: 0;
	padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

*, *:before, *:after {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
	transition-property: all;
	font-family: 'Itim', cursive;
}

body {
    background-size: 40px 40px;
    background-image:
        linear-gradient(to right, grey 1px, transparent 1px),
        linear-gradient(to bottom, grey 1px, transparent 1px);
}