/* @import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;

  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */

@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

:root {
	--sz: 7px;
	--eqz: 0;
    --color: black;
    --brushSize: 3;
}

.appContainer {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
    background-color:hsla(0,0%,10%,1);
    background-image:
        radial-gradient(at 77% 21%, hsla(22,0%,10%,1) 0px, transparent 50%),
        radial-gradient(at 80% 70%, hsla(22,0%,20%,1) 0px, transparent 50%),
        radial-gradient(at 15% 100%, hsla(241,0%,15%,1) 0px, transparent 50%),
        radial-gradient(at 23% 28%, hsla(343,0%,10%,1) 0px, transparent 50%);
    background-repeat: repeat;
}

*, *:before, *:after {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
	transition: all 0s ease 0s;
	font-family: 'Gochi Hand', Arial, serif;
}