@import url('https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap');

:root {
	--sz: 7px;
	--eqz: 0;
    --color: black;
    --brushSize: 3;
}

.appContainer {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: visible;
	display: flex;
	align-items: center;
	justify-content: center;
    background: radial-gradient(ellipse at bottom, #1b352a 0%, #090A0F 100%);
    background-repeat: repeat;
}

*, *:before, *:after {
	box-sizing: border-box;
    margin: 0;
    padding: 0;
	transition: all 0s ease 0s;
	font-family: 'Gochi Hand', Arial, serif;
}